$mainGreen: #3BB7D3;
$mainPink: #d69fd8;
$secondaryGreen: #2b95a1;
$lightGreen: #2b95a18a;
$secondaryBlue: #8DCAFF;
$white: #ffffff;

.hero-section{
   .hero-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
   }
    .hero-text{
        text-align: left;
        margin: 10px 0;
    }
    .home-bg{
       background-color: $mainGreen;
       display: flex;
       align-items: center;
       width: 100%;
       height: 100%;
       padding: 30px 60px;
       @media screen and (max-width: 600px) {
        padding: 0;
       }
       p, h2{
           color: white;
       }
    }
  .home-bg img{
    height: 100%;
    width: 100%;
    filter: brightness(60%);
    margin: 20px 0px;
    }

}
.main-button{
    border: none;
    background-color: $mainPink;
    color: $white;
    font-weight: bold;
    padding: 6px 14px;
    box-shadow: 0px 2px 0px 2px $secondaryGreen;
    transition: all 0.5s ease-in;
&:hover{
    text-decoration: none;
    background-color: $secondaryGreen;
}
}

/*product slide*/
.product-slide{
    display: grid;
    grid-template-columns: 1fr 2fr;
    @media screen and(max-width:600px){
        grid-template-columns: 1fr;
        padding: 0 5px;
        flex-direction: column;
    }
    .product-magic{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        .magic-link{
            color: $secondaryGreen;
            font-weight: bold;
            margin: 10px 0;
        }
    }
}



/*collection section*/

.home-card{
    padding: 30px 0;
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px ;
    width: 80%;
    margin: 0 auto;
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
    .links{
        text-decoration: none;
        color: black;
    }
    .collection-card{
        width: 100%;
        background-color: white;
        box-shadow: 1px 2px 3px 4px rgba(161, 161, 161, 0.281);
        transition: all 0.4s ease-in-out;
        &:hover{
            transform: translateY(4%);
            filter: blur(1px) brightness(60%);
        }
        .card-header{
            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
        }
    }
  }
    
}



/*fixed background section*/

.fixed-section{
    width: 100%;
    padding: 80px 0;
    @media screen and (max-width:600px) {
        padding: 40px 0;
    }
 .main-button{
     margin-top: 12px;
 }   
    .overlay{
        text-align: center;
        width: 60%;
        margin: 0 auto;
        margin-top: 10%;
        @media screen and (max-width:600px) {
            width: 98%;
            margin-top: 25%;
        }
        h2{
            color: white;
            width: 100%;
            font-weight: bold;
            @media screen and (max-width:600px) {
               font-size: 1.2rem;
            }
        }
    }
    .img-bg{
        height: 400px;
        width: 800px;
        background-image: linear-gradient(to bottom,  #d69fd8e8, #3bb7d3c4),url(../Img/Atm-card.jpg);
        background-position: top left;
        background-repeat: no-repeat; 
        background-size: cover;
        @media screen and (max-width:600px) {
            height: 300px;
        }
}
}
 


.product-section{
    padding: 30px 0;
    .product-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 50px;
        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 20px;
        }
    }    
}

@media screen and (max-width: 600px){
    .hero-text{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p, h2{
            width: 100%;
            text-align: center;
        }   
    }
}

@media screen and (min-width: 601px) and (max-width: 767px){
    .hero-text{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
        p, h2{
            width: 100%;
            text-align: center;
        }
    }
}

