$mainGreen: #3BB7D3;
$mainPink: #d69fd8;
$secondaryGreen: #2b95a1;
$lightGreen: #2b95a18a;
$secondaryBlue: #8DCAFF;
$white: #ffffff;

.hero-section{
   .hero-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
   }
    .hero-text{
        text-align: left;
        margin: 10px 0;
    }
    .home-bg{
       background-color:#3bb7d398;
       display: flex;
       align-items: center;
       width: 80%;
       height: 100%;
       p, h2{
           color: white;
       }
    }
  .home-bg img{
    height: 100%;
    width: 100%;
    filter: brightness(60%);
    margin: 20px 0px;
    }

}

//search bar

.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
    .home-form{
        padding: 20px 0;
        width: 100%;
    }
}
.searchList{
    padding: 4px;
    border: 2px solid $mainPink;
    width: 25%;
    background-color: rgba(128, 128, 128, 0.301);
    &:focus{
      outline: $mainGreen;
    }
  }

.navSearch{
    padding: 6px;
    color: white;
    font-weight: bold;
    background-color: $mainPink;
    border: none;
    transition:all 0.4s ease-in;
    &:hover{
      background-color: $secondaryGreen;
    }
  }  
  

.main-button{
    border: none;
    background-color: $mainPink;
    color: $white;
    font-weight: bold;
    padding: 6px 14px;
    box-shadow: 0px 2px 0px 2px white;
&:hover{
    text-decoration: none;
    background-color: $mainGreen;
}
}
/*fixed background section*/

.fixed-section{
    width: 100%;
    padding: 80px 0;
 .main-button{
     margin-top: 12px;
 }   
    .overlay{
        text-align: center;
        margin-top: 14%;
        h2{
            color: white;
            width: 100%;
        }
    }
    .img-bg{
        height: 400px;
        width: 800px;
        background-image: linear-gradient(to bottom,  #d69fd8d2, #3bb7d334),url(../Img/Atm-card.jpg);
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat; 
        background-size: cover;
}
}
 
.product-section{
    padding: 50px 0;
    .product-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 50px
    }    
}

@media screen and (max-width: 600px){
    .home-form{
        .searchList{
            width: 60%;
        } 
        .navSearch{
            width: 60%;
        }
    }
    
    .hero-text{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
        p, h2{
            width: 100%;
            text-align: center;
        }   
    }
}

@media screen and (min-width: 601px) and (max-width: 767px){
    .hero-text{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
        p, h2{
            width: 100%;
            text-align: center;
        }
    }
    .searchList{
        width: 35%;
    }
}

