$mainGreen: #3BB7D3;
$mainPink: #d69fd8;
$secondaryGreen: #2b95a1;
$lightGreen: #2b95a18a;
$secondaryBlue: #8DCAFF;
$white: #ffffff;
$grey1: #959595;
$grey2: #ccc;
$primaryColor: #f1f1f1;
$black: #212529;

@import "../../mixins/mixins.scss";


.hero-section{
  background: linear-gradient( #2b95a1, #d69fd8); 
  @include flex(center, center);
  height: 65vh;
  padding-top: 50px;
 .hero{
    @include flex(center, center);
    @media screen and (max-width: 600px) {
      flex-direction: column;   
     }
   .hero-left{
    flex: 0.6;
    color: $white;
    @media screen and (max-width: 768px) {
        text-align: left;
    }
   }
    .hero-right{
        text-align: left;
        margin: 20px 0;
        color: white;
        flex: 0.4;
        h3{
            font-size: 2rem;
            padding: 0 5px;
       @media screen and (max-width: 600px) {
           font-size: 1.6rem;
       }
        }
        .hero-button{
          @include Buttons($secondaryGreen);
          &:hover{
            background-color: $mainGreen;
          }
        }
    }
}
}

/*customer's favourites*/
.product-section{
    padding: 20px 0;
    .fav-product{
        display: grid;
        grid-template-columns: 2fr 3fr;
        padding: 0 100px;
        @media screen and(max-width:960px){
            grid-template-columns: 1fr;
            padding: 0 5px;
            flex-direction: column;
        }
        .product-text{
           @include flex(flex-start, center);
            flex-direction: column;
        
            @media screen and(max-width: 960px) {
                padding: 0 20px;
            }
            p{text-align: left;}
            .magic-link{
                color: $secondaryGreen;
                font-weight: bold;
                margin: 2px 0;
            }
        }
    }    
}

/*collection section*/

.home-card{
    position: relative;
    padding: 50px 0;
    span{
        font-size: 0.8rem;
        background-color: $secondaryGreen;
        color: white;
        padding: 1px 8px;
        position: absolute;
        z-index: 2;
        right: 10px;
    @media screen and (max-width: 960px) {
        right: 12px;
    }
    }
  .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px ;
    width: 80%;
    margin: 0 auto;
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
    .links{
        text-decoration: none;
        color: black;
    }
    .collection-card{
        width: 100%;
        background-color: white;
        box-shadow: 1px 2px 3px 4px rgba(161, 161, 161, 0.281);
        transition: all 0.4s ease-in-out;
        &:hover{
            transform: translateY(4%);
            filter: blur(1px) brightness(60%);
        }
        .card-header{
            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
        }
    }
  }
    
}

/*fixed background section*/

.fixed-section{
    @media screen and (max-width:600px) {
        padding: 40px 0;
    }
 .main-button{
     margin-top: 12px;
 }   
    .overlay{
        text-align: center;
        width: 60%;
        margin: 0 auto;
        margin-top: 10%;
        .main-button{
            @include Buttons($secondaryGreen);
          &:hover{
            background-color: $secondaryBlue;
          }
        }    
        @media screen and (max-width:600px) {
            width: 98%;
            margin-top: 25%;
        }
        h2{
            color: white;
            width: 100%;
            font-weight: bold;
            @media screen and (max-width:600px) {
               font-size: 1.2rem;
               width: 90%;
               margin: 0 auto;
            }
        }
    }
    .img-bg{
        height: 400px;
        width: 800px;
        background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)),url(../Img/Atm-card.jpg);
        background-position: top left;
        background-repeat: no-repeat; 
        background-size: cover;
        @media screen and (max-width:600px) {
            height: 300px;
        }
}
}
//Newsletter section
.newsletter{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)), url('../Img/wears.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 10px 0; 
    margin: 40px 20px;
    @media screen and (max-width: 600px) {
    padding: 10px;  
    margin: 20px;
    }
    .news-div{ 
    .news-input{
        width: 30%;
        padding: 10px 5px;
        margin: 25px 0;
        border: none;
    @media screen and (max-width: 600px) {
       width: 60%;
      }
    }
    h4{
        margin: 5px 0;
    }
    .fa-envelope-open-text{
        font-size: 4rem;
        margin: 10px 0;
        background-color: $secondaryGreen;
    }
    button{
        @include Buttons($secondaryGreen);
        padding: 11px 18px;
          &:hover{
            background-color: $mainGreen;
          }
    }
    }
}

.product-section{
    background: $primaryColor;
    .product-cards{
       @include all-cards;
    }    
}
@media screen and (max-width: 600px){
    .hero-right{
        p, h2{
        width: 100%;
        }   
    }
}
@media screen and (min-width: 601px) and (max-width: 767px){
    .hero-right{
        @include flex(center, center);
        text-align: center;
        flex-direction: column;
        p, h2{
            width: 100%;
            text-align: center;
        }
    }
}

