$mainGreen: #3BB7D3;
$mainPink: #d69fd8;
$secondaryGreen: #2B95A1;
$secondaryBlue: #8DCAFF;
$white: #ffffff;

$white: #ffffff;
$grey1: #959595;
$grey2: #ccc;
$primaryColor: #f1f1f1;
$black: #212529;
$black2: #252525;


footer{
    background-color: $primaryColor;
    height: 100%;
    padding: 50px 0;
    width: 100%;
    position: relative;
    .footer-wrapper{
        padding: 0px 50px;
    }
    ul{
        list-style: none;
        li{
            line-height: 35px;
            text-align: left;
        }
        a{
            color: $black2;
            font-weight: bold;
            transition: all 0.4s ease-in;
            &:hover{
                text-decoration: none;
                color: $black;
            }
        }
    }
    .copyright-div{
        background-color: $black;
        width: 100%;
        position: absolute;
        bottom: 0;
        p{
          color: white;
           font-weight: 500;
           font-size: 0.8rem;
           margin-top: 10px;
        }
    }
    .footer-form{
        background-color: $black;
        color: white;
        padding: 10px 10px;
        margin: 0 60px;
        position: absolute;
        top: -10%;
        right: 0;
        @media screen and (max-width: 600px) {
        position: absolute;
        top:0px;
        }
        strong{
            font-size: 1.4rem;
        }
        .footer-input{
            width: 100%;
            padding: 5px 0;
        }
        .footer-btn{
            width: 100%;
            margin: 10px 0;
            padding: 5px 0;
            background-color: $mainPink;
            color: white;
            font-weight: bold;
            border: whitesmoke;
            transition: all 0.4s ease-in;
            &:focus{
                outline: none;
            }
            &:hover{
                background-color: $secondaryGreen;
            }
        }
    }
}

@media screen and (max-width: 600px){
    footer{
        padding: 70px 0;
         .first-footer{
            margin-top: 80px;
         }
        .footer-form{
            width: 80%;
            margin: 0 35px;
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 767px){
    footer{
        padding: 100px 0;
        .first-footer{
            margin-top: 80px;
        }
        .footer-form{
            margin: 0 10px;
            width: 80%;
            position: absolute;
            top: -6%;
            right: 0;
            left: 55px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 990px){
    .footer-form{
        top: 40% !important;
    }
    .third-footer{
        margin-top: 30px;
    }
}