$mainGreen: #3BB7D3;
$mainPink: #d69fd8;
$secondaryGreen: #2b95a1;
$lightGreen: #2b95a18a;
$secondaryBlue: #8DCAFF;
$white: #ffffff;

.details{
    padding: 50px 0;
    background-color: rgba(128, 128, 128, 0.164);
    button{
        border: none;
        background-color: $mainPink;
        color: $white;
        font-weight: bold;
        width: 40%;
        padding: 6px 10px;
        box-shadow: 0px 2px 0px 2px $secondaryGreen;
        transition: all 0.4s ease-in;
    &:hover{
        text-decoration: none;
        background-color: $secondaryGreen;
    }    
    }
    .row{
        @media screen and (min-width: 768px){
         display: flex;
         align-items: center;
         justify-content: center;
        }      
    }
    img{
        width: 100%;
        height: 350px;
        object-fit: contain;
    }
    .second-column{
        text-align: left;
        padding-right: 80px;
            @media screen and (max-width: 767px) {
                padding-left: 40px;
                margin-top: 40px;
             }
     strong {
         color: $mainGreen;
     }
     h4{
         margin: 13px 0;
     }
     .product-rating{
         display: flex;
         .fa-star{
            color: gold;
            margin: 0 2px;
        } 
     }   
    }
}