$mainGreen: #3BB7D3;
$mainPink: #d69fd8;
$secondaryGreen: #2B95A1;
$secondaryBlue: #8DCAFF;
$white: #ffffff;
$white: #ffffff;
$grey1: #959595;
$grey2: #ccc;
$primaryColor: #f1f1f1;
$black: #212529;
$black2: #252525;


  .navs{
    position: relative;
    position: fixed;
    top: 0;
    width: 100%;
    background: $white;
    z-index: 99;
    height: 10vh;
    box-shadow: 1px 0px 0.02px $grey2, 0px 1px 1px $primaryColor ;
    @media screen and (min-width: 606px) and (max-width: 960px) {
      height: 7vh;
    }
    .wrapper{
      position: relative;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 80px;
      .name-h6{
        color: $secondaryGreen;
        margin-top: 60px;
        font-size: 0.8rem;
        @media screen and (min-width: 960px) {
          display: none;
        }
      }
      .logo-div{
        img{
          margin-bottom: 12px;
        }
      }
      .nav-ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        h6{
          color: $secondaryGreen;
          margin-top: 7px;
          margin-right: 14px;
        }
        .nav-links{
          color: $secondaryGreen;
          font-weight: 500;
          padding: 12px 10px;
          border-radius: 5px;
          font-size: 0.9rem;
          transition: all 0.3s ease-in;
          cursor: pointer;
          .mega-menu{
            width: 100%;
            position: absolute;
            top: 85px;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease;
           .content{
             background: $grey2;
             display: flex;
             align-items: center;
             justify-content: space-around;
             padding: 25px 20px;
             width: 100%;
             @media screen and (max-width: 960px) {
               display: flex;
               flex-direction: column-reverse;
               padding: 0;
             }
             .row{
              width: 33.3%;
              padding: 0 20px;
              border-left: 1px solid rgba(255, 255, 255, 0.322);
             @media screen and (max-width: 960px){
               width: 100%;
             }
              &:nth-child(1){
                border-left: 0;
              }
              .text{
                h5{
                  color: $secondaryGreen;
                }
                 p{
                  color: black;
                  font-weight: lighter;
                  @media screen and (max-width: 960px) {
                    font-size: 0.8rem;
                  }
                }
               
              }
                img{
                  width:70%;
                  height: 70%;
                  object-fit: cover;
                  @media screen and (max-width: 600px) {
                    width: 40%;
                    height: 40%;
                    padding: 0;
                    object-fit: cover;
                 }
                }
             }
           }  
            a{
              color: white;
              width: 100%;
              display: block;
            }
          }
          &:hover{
            background: $primaryColor;
            text-decoration: none;
          }
        }
        li{
          list-style: none;
          &:hover{
            .mega-menu{
              top: 55px;
              opacity: 1;
              visibility: visible;
              transition: all 0.4s ease;
            }
          
          }
          .cart-icon{
            .fa-shopping-cart{
              color: $mainPink;
              font-size: 1.3rem;
            }
          }
         
        }
      }
    }
  }
 
 .nav-icon{
  display: none;
}
@media screen and (max-width: 960px){
  .wrapper{
     position: relative;
     height: 8vh;
     .nav-icon{
       position: absolute;
       right: 20px;
      .fa-bars, .fa-times{
        color: $secondaryGreen;
        font-size: 1.2rem;
      }
       .fa-shopping-cart{
         color: $secondaryGreen;
         margin: 0 30px;
       }
     }
    .logo-div{
      position: absolute;
      left: 20px;
    }
    .nav-ul{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 55px;
      left: -100%;
      opacity: 1;
      z-index: 2;
      .nav-links{
        border-bottom: 1px solid rgba(255, 255, 255, 0.322);
        li{
          color: $primaryColor;
        }
        &:nth-child(3){
          border-bottom: none;
        }
      }
    }
    .active{
      background: $secondaryGreen;
      left: 0;
      opacity: 1;
      transition: all 0.3s ease-in;
      z-index: 2;
    }
  }
  .nav-icon{
    display: block;
  }
}





  /*
.navs{
  position: sticky;
  top: 0;
  z-index: 2;
  .firstnav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $mainGreen;
    box-shadow: 0px 3px 5px 0px $mainGreen;
    padding: 5px 50px;
    @media screen and (max-width: 600px) {
      padding: 10px 0;
    }
    .logo-div{
      .logo-img{
        max-width: 100%;
        margin-left: 30px;
      }
    }
    .nav-ul{
      display: flex;
      margin-top: 20px;
      list-style: none;
      .nav-links{
        color: $white;
        font-weight: bold;
        transition: all 0.4s ease-in;
        &:hover{
          text-decoration: none;
          color: $mainPink;
        }
        li{
          &:hover{
            opacity: 1;
            visibility: visible;
          }
          .dropdown{
            background: $white;
            opacity: 0;
            visibility: hidden;
            .nav-links{
              li{
              display: block;
              width: 100%;
              }
            }
          }
        }
        @media screen and (max-width: 600px) {
          margin: 20px 0;
        }
       } 
  }
  }
}
 */