$mainGreen: #3BB7D3;
$mainPink: #d69fd8;
$secondaryGreen: #2B95A1;
$secondaryBlue: #8DCAFF;
$white: #ffffff;


.logo-img{
  margin-left: 30px;
}
.fa-shopping-cart{
  color: $mainPink;
  font-size: 1.5rem;
}
.firstnav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    padding: 10px 0;
    ul{
      display: flex;
      margin-top: 10px;
      list-style: none;
     li{
      margin: 0 20px;
     } 
     a{
       color: $secondaryGreen;
       font-weight: bold;
       transition: all 0.4s ease-in;
       &:hover{
         text-decoration: none;
         color: $mainPink;
       }
     }
    }
  }
  .secondnav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainGreen);
    ul{
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      padding: 10px 0;
      margin-top: 10px;
      width: 60%;
      a{
        color: $white;
        font-weight: bold;
        transition: all 0.4s ease-in;
        &:hover{
          text-decoration: none;
          color: $mainPink;
        }
      }
    }
  }
 
//nav search bar
.searchList{
  padding: 4px;
  border: 2px solid $mainPink;
  background-color: rgba(128, 128, 128, 0.301);
  &:focus{
    outline: none;
  }
}
.navSearch{
  padding: 6px;
  color: white;
  font-weight: bold;
  background-color: $mainPink;
  border: none;
  transition:all 0.4s ease-in;
  &:hover{
    background-color: $secondaryGreen;
  }
}  