$mainGreen: #3BB7D3;
$mainPink: #d69fd8;
$secondaryGreen: #2B95A1;
$secondaryBlue: #8DCAFF;
$white: #ffffff;


.card{
    background-color: white;
    border: none;  
    display: flex;
    align-items: center;
    justify-content: center;
   p{
       color: black;
       &:hover{
        text-decoration: none;
    }
   }  
    img{
        max-width: 100%;
        height: 250px;
        object-fit: cover;
        transition: all 0.4s ease-in-out;
        &:hover{
            transform: scale(1.16);
        }
    } 
    .fa-star{
        color: gold;
    }
    button{
        border: none;
        background-color: $mainPink;
        color: $white;
        font-weight: bold;
        width: 50%;
        padding: 6px 14px;
        box-shadow: 0px 2px 0px 2px $secondaryGreen;
        transition: all 0.4s ease-in;
    &:hover{
        text-decoration: none;
        background-color: $secondaryGreen;
    }    
    }
}
