.cart-product{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 80px 30px;

    background-color: rgba(128, 128, 128, 0.089);
    .cart-img img{
        width: 100%;
        height: 250px;
        object-fit: contain;
    }
}
.cart-info{
 margin: 40px 20px;  
 text-align: left; 
    .button-div button{
            border: none;
            background-color: #d69fd8;
            color: #ffffff;
            font-weight: bold;
            padding: 5px 10px;
    }
.cartproduct-title  {
    color: palevioletred;
    font-size: 1.2rem;
} 
}
.product-rating .fa-star {
    color: gold;
    margin: 10px 0;
  }
  
 .checkout h2{
padding: 40px 0;
color: #3BB7D3;
 } 