$mainGreen: #3BB7D3;
$mainPink: #d69fd8;
$secondaryGreen: #2b95a1;
$lightGreen: #2b95a18a;
$secondaryBlue: #8DCAFF;
$white: #ffffff;
$grey1: #959595;
$grey2: #ccc;
$primaryColor: #f1f1f1;
$black: #212529;

.cart-product{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(128, 128, 128, 0.089);
    width: 100%;
    @media screen and (max-width: 600px) {
        flex-direction: column;
        width: 100%;
    }
    .cart-img{
        flex: 40%;
    }
}
.cart-info{
    margin: 15px 20px;  
    text-align: left; 
    flex: 60%;
    @media screen and (max-width: 600px) {
        margin: 10px 20px;
    }

    .button-div button{
        border: none;
        background-color: #d69fd8;
        color: #ffffff;
        font-weight: bold;
        padding: 5px 10px;
    }
.cartproduct-title  {
    color: #3BB7D3;
    font-size: 1.2rem;
} 
  .product-rating{
    display: flex;
    .fa-star{
       color: gold;
       margin: 10px 2px;
    }
}
.check-details{
    color: #3BB7D3;
    font-style: italic;
    font-weight: bold;
} 
} 

.checkout{
    position: relative;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 600px) {
        display: flex;
    }
    .cart-top{
        display: flex;
      @media screen and (max-width: 600px) {
        flex-direction: column;  
      }
      .cart-h2{flex: 0.7;}
      .subtotal{
        background-color: $grey2;
        color: $black;
        width: 22%;
        display: flex;
        flex-direction: column;
        flex: 0.3;
        margin-right: 90px;
        @media screen and (max-width: 600px) {
            width: 90%;
            margin: 0 auto;
        }
        p{
            font-weight: 500;
        }
        .checkout-btn{
            border: none;
            margin: 8px 10px;
            background-color:$secondaryGreen;
            color: $white;
            font-weight: bold;
            padding: 6px 14px;
            transition: all 0.5s ease-in;
        &:hover{
            text-decoration: none;
            background-color: $mainGreen ;
        }
        }
        .shopmore-btn{
            border: 1px solid $secondaryGreen;
            margin: 8px 10px;
            background-color:transparent;
            color: $white;
            font-weight: bold;
            padding: 6px 14px;
            transition: all 0.5s ease-in;
        &:hover{
            text-decoration: none;
            border: 3px solid $secondaryGreen;
        }
        }
    }
    }
    .cart-div{
        padding: 10px 0;
    }
    img{
    max-width: 30%;
    padding-bottom: 30px;
@media screen and (max-width:600px) {
    max-width: 40%;
    display: flex;
    align-items: flex-start;
    padding: 0 20px;
}        
}  

h2{
    padding: 40px 80px;
    color: #3BB7D3;
    text-align: left;
    @media screen and (max-width: 600px) {
      font-size: 1.3rem;
      padding: 10px;  
      margin-bottom: 50px;
    }
     } 
}

