$mainGreen: #3BB7D3;
$mainPink: #d69fd8;
$secondaryGreen: #2B95A1;
$secondaryBlue: #8DCAFF;
$white: #ffffff;

.wears-herosection{
    height: 100vh;
    .wears-bg{
        height: 380px;
        width: 800px;
        background-image: linear-gradient(to bottom,  #d69fd8d2, #3bb7d334),url(../Img/packed-clothes.jpg);
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat; 
        background-size: contain;
}
}

.wears-section{
    .wears-card{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 50px
    }
}