$mainGreen: #3BB7D3;
$mainPink: #d69fd8;
$secondaryGreen: #2B95A1;
$secondaryBlue: #8DCAFF;
$white: #ffffff;

.wears-herosection{
 .wears-wrapper{
    .wears-bg{
        width: 100%;
        height: 480px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)),url(../Img/wears.jpg);
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat; 
        background-size: cover;
        @media screen and (max-width: 600px){
            background-size: cover;
        }
}
}
}

.wears-section{
    padding: 50px 0;
    .wears-card{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 50px;
        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 20px;
        }
    }
}