@mixin Buttons($bg-col) {
      border: none;
      background-color:$bg-col;
      color: $white;
      font-weight: bold;
      padding: 6px 14px;
      transition: all 0.4s ease-in;
      cursor: pointer;
  &:hover{
      text-decoration: none;
      background-color: $bg-col ;
  }
  }
  
  @mixin flex($align,$justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin all-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
    }
}
  