$mainGreen: #3BB7D3;
$mainPink: #d69fd8;
$secondaryGreen: #2B95A1;
$secondaryBlue: #8DCAFF;
$white: #ffffff;
$grey2: #ccc;
$primaryColor: #f1f1f1;
$black: #212529;
$black2: #252525;
$grey1: #959595;

@import "../../mixins/mixins.scss";

.login{
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)), url('../Img/shopping-mall.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: 600px) {
      height: 100%;  
      margin: 50px 0;
    }
    .login-page{
       padding: 50px 0;
   
        img{
            max-width: 50%;
            margin: 20px auto;
        }
       h4{
           color: $white;
           padding: 10px 0;
       }
       p{
           margin: 0;
           font-weight: bold;
       }
        .login-card{
            display: flex;
            flex-direction: column;
            background: $white;
            width: 26%;
            max-height: 480px;
            margin: 0px auto;
            border-radius: 8px;
            padding: 20px 0;
            @media screen and (max-width: 600px) {
                width: 80%;
            }
            .login-input{
                width: 90%;
                margin: 0 auto;
                padding: 5px;
                border: 1px solid $secondaryGreen;
            }
            .forgot-password{
                color: grey;
                font-size: 0.8rem;
                text-decoration: underline;
                margin: 7px 20px;
                margin-top: 16px;
                text-align: right;
            }
            label{
                text-align: left;
                padding: 10px 20px;
                font-weight: bold;
            }
            .login-btn{
              @include Buttons($secondaryGreen);
              margin: 15px 20px;
              &:hover{
                background-color: $mainGreen;
                color: $white;
            } 
            }
          .create-btn{
              @include Buttons(transparent);
              color: $secondaryGreen;
              border: 2px solid $secondaryGreen;
              margin: 15px 20px;
              &:hover{
                background-color: $mainGreen;
                color: $white;
            }
          }
        }
    }
}