.loader-div{
    background-color: black;
    min-height: 100vh;
    position: relative;
    .loader{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: teal;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}