$mainGreen: #3BB7D3;
$mainPink: #d69fd8;
$secondaryGreen: #2B95A1;
$secondaryBlue: #8DCAFF;
$white: #ffffff;

.hero-section{
    height: 80vh;
  .home-bg img{
       width: 100%;
       height: 50%;
        object-fit: cover;
        filter: brightness(60%);
    }

}
